.sidebar {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1280px;
    height: 60px;
    flex-shrink: 0;
}

.sidebar.open {
}

.background {
}

.nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.nav a {
}

.nav a:hover {
}

.nav a.active {
color: #004D99;
}
.close {
}

.close img {
}
